body{
    text-align: center;
    background-color: aqua;
   /* background-image: url(./racetrack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
h1{
    color:White;
}

#cargame{
    background-color: white;


}